repos:
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 lint
        additional_dependencies: []
  - repo: local
    hooks:
      - id: pytest-tests
        name: Run pytest on tests directory
        entry: pytest tests
        language: system
        types: [python]
        always_run: true
        pass_filenames: false

